
.header-text__section {
    display: block;
    text-align: end;
    flex-direction: column;
    line-height: 10rem;
}

.header-text-section__title {
    text-align: center;
    line-height: 10em;
}

.header-text-section__intro-1 {
    color: var(--text-intro-pink);
    display: block;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--second-font);
    font-weight: 800;
    line-height: 1.5em;
    text-transform: uppercase;
    margin-left: 30em;
}

.header-text-section__intro-2 {
    color: var(--text-intro-white);
    display: block;
    flex-direction: column;
    font-family: var(--second-font);
    font-weight: 800;
    line-height: 1.5em;
    text-transform: uppercase;
}

.header-text-section__intro-3 {
    color: var(--text-intro-white);
    display: block;
    flex-direction: column;
    font-family: var(--second-font);
    font-weight: 800;
    line-height: 1.5em;
    text-transform: uppercase;
    align-items: revert;
}
