.redirect {
    margin-bottom: 4rem;
}

.redirect .redirect-content {
    display: flex;
    background-color: darkorange;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.redirect p {
    font-size: 1.2rem;
}

@media screen and (max-width: 1050px) {
    .redirect {
        margin-bottom: 2rem;
    }

    .redirect .redirect-content p {
        font-size: 0.8rem;
    }
}
