.cannoli-snack-container {
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.cannoli-snack {
    display: flex;
    flex-direction: row;
}


.snack-img {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 0 90%;
    -ms-flex: 0 0 90%;
    -webkit-box-flex: 0;
    width: 25em;
    max-width: 100%;
    padding: 0.5em 0.4em;
    align-items: center;
    justify-content: space-between;
    z-index: 6;
}
