.header-text {
    display: flex;
    flex-direction: column;
    font-family: var(--second-font);
    margin: 32em 4em 0 auto;
    line-height: 1.5em;
    text-transform: uppercase;
}

.header-text-one {
    color: var(--text-intro-pink);
}

.header-text-two {
    color: var(--text-dark);
}

.header-img-container  {
    display: flex;
    flex-direction: row;
}
