.nav-container {
    display: flex;
    width: 100%;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    z-index: 4;
}

.nav-content-container {
    display: flex;
    flex-shrink: 1;
    flex-grow: 0;
    margin: 0 auto;

}

.nav-container a,
.nav-container a:visited {
    color: white;
    text-decoration: none;
}

.nav-container a:hover {
    text-decoration: underline;
    color: #FF003D;
    transition: transform 250ms ease-in-out;
    transform: scale(1.10);
}

.nav-list-items {
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    padding: 6em;
    position: fixed;
    left: -6%;
    top: -0.5rem;
    z-index: 3;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: both;
}


.nav-list-items li {
    display: flex;
    width: 100% ;
    justify-content: center;
}

.nav-list-items li a:hover {
    color: #FF003D;
    transition: all 0.5s;
    z-index: 1;
}


.nav-list-items .logo {
    width: 6em;
}

.color-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 3;
}


.right  {

    margin: 10em 0;
}



.left {
    margin-left: 100% 0;


}



.skewer--bottom {
    border-top: 100px solid var(--background-color);
    border-right: 100vw solid transparent;
    position: absolute;
    margin: 20em 0;
    left: 0;
    top: 0;
    z-index: 2;
}