.nav-container {
    background: #150A06;
    background: linear-gradient(180deg, var(--background-color-dark) 0%, var(--background-color-dark) 40%, var(--background-color) 100%);
    width: 100%;
    position: fixed;
    height: 20em;
    margin: 0 auto;
    z-index: 15;
}

.nav-container a,
.nav-container a:visited {
    color: white;
    text-decoration: none;
}

.nav-container a:hover {
    text-decoration: underline;
    color: var(--figure-color-2);
    transition: transform 250ms ease-in-out;
    transform: scale(1.10);
}

.nav-menu {
    display: flex;
    position: relative;
    font-family: var(--font);
    font-size: 1.2rem;
    font-weight: 400;
    list-style: none;
    justify-content:space-between;
    align-items: flex-start;
    padding: 1em;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.nav-menu .logo {
    width: 6em;
    z-index: 8;
}

.nav-menu a:after {
    background-color: var(--figure-color-1);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    width: 0;
    height: 1px;
    transition: all 350ms ease-in;
}

.nav-menu a:hover:after {
    background-color: var(--figure-color-2);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 1px;
}

button, header button:visited {
    background-color: var(--button-color);
    color: var(--text-intro-white);
    text-transform: uppercase;
    margin: var(--margin);
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 1em;
    font-weight: 400;
    font-family: var(--font);
}

button, header button:hover {
    cursor:pointer;
}

header button:active {
    transform: translateY(0.4em);
    color: var(--text-intro-white);
}

button, header button:hover .btn-text {
    display: flex;
}

button, header .btn-text::after {
    margin-left: 0.5em;
    content: "";
    transform: translateX(0.2em);
}

.skewer--bottom {
    border-top: 100px solid var(--background-color);
    border-right: 100vw solid transparent;
    position: absolute;
    margin: 20em 0;
    left: 0;
    top: 0;
}

/*------------------- NAV-IMAGE---------------------*/






