.footer {
    background: #150A06;
    background: linear-gradient(180deg, var(--background-color) 100%, var(--background-color-dark) 40%, var(--background-color-dark) 0%);
    height: 40em;
}


.footer-container {
    display: flex;
}

.footer-container a,
.footer-container a:visited {
    color: white;
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
    color: var(--figure-color-2);
    transition: transform 250ms ease-in-out;
    transform: scale(1.10);
}

.footer-menu h3 {
    color: var(--text-light);
    text-transform: uppercase;
    margin: 1em -1em;
}

.footer-menu  {
    display: flex;
    color: var(--text-light);
    flex-direction: column;
    font-family: var(--font);
    font-size: 1rem;
    align-items: flex-start;
    margin: 11em 10em;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.footer-menu a:after {
    background-color: var(--figure-color-1);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    width: 0;
    height: 1px;
    transition: all 350ms ease-in;
}

.footer-menu a:hover:after {
    background-color: #1AE216;
}

.footer-contact h3 {
    text-transform: uppercase;
}

.footer-contact {
    display: flex;
    color: var(--text-light);
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    align-items: flex-start;
    margin: 12em 30em;
    gap: 1em;
    animation-duration: .8s;
    animation-iteration-count: 3;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.footer-contact a:after {
    background-color: var(--figure-color-1);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 5em;
    content: "";
    width: 0;
    height: 2px;
    transition: all 300ms ease-in;

}

.footer-contact a:hover:after {
    background-color: #1AE216;
}

.footer-contact .mail {
    width: 3ch;
}

.footer-contact .phone {
    max-width: 3ch;
}

.footer-contact, img .mail {
    flex-direction: column;
    margin-right: 7em;
}

.footer-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    max-width: 20ch;
}

.footer .logo {
    width: 6em;
    padding: 1em;
    transform: rotate(-1.3deg);
}


.footer-text-newsletter {
    color: var(--text-light);
    display: flex;
    flex-direction: row;
    font-size: 14px;
    padding: 20em;
}

.register-content {
    margin: 0 auto;
    text-align: right;
}

.register-subtitle {
    color: var(--text-intro-white);
    font-family: 'Roboto', sans-serif;
    font-size: 1,5em;
}


.register-input {
    background-color: var(--text-intro-white);
    font-size: 1em;
    padding: 10px 50px;
}

.register-btn {
    background-color: var(--button-color);
    color: var(--text-intro-white);
    text-transform: uppercase;
    margin: var(--margin);
    border-radius: 10px;
    font-size: 1em;
    font-weight: 400;
    font-family: var(--font);
}


.register-btn:hover {
    cursor:pointer;
}

.skewer--footer-top {
    position: absolute;
    top: 4;
    left: 0;
    border-right: 100vw solid transparent;
    border-top: 100px solid var(--background-color-light);
    z-index: 2;
}

