header {
    display: flex;
    position: relative;
    padding: 50px 0;
    width: 100%;
}

header::before {
    content: '';
    display: block;
    width: 78px;
    height: 100px;
    position: absolute;
    bottom: 25px;
    left: calc(50% - 39px);
}

header::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-position: top center;
}

.navbar-container {
    background-color: var(--background-color-dark);
    display: flex;
    width: 100%;
    flex-direction: row;
}

.navbar-container ul {
    font-family: var(--font);
    flex-basis: 200px;
    flex-shrink: 1;
    flex-grow: 0;
    flex-direction: row;
    display: flex;
    z-index: 2;
}

.navbar-list li {
    display: flex;
    align-items: center;
    margin: 100px;
    position: revert;

}

.navbar-list li:hover {
    color: #CEA71E ;
    transition: all 0.5s;
    z-index: 2;
}

.navbar-list .logo {
    width: 7rem;
    height: 3em;
}

.menu-icon {
    font-size: 0.6em;
    margin: 0.4em;

}

/*------------------- Header-image ---------------------*/

.header-container__reusable {
    width: 100%;
}



/*--------------------- Media-queries -----------------*/



