@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300;400;700&display=swap');

/*/////////////////////////
    Table of Contents
    1.  Global Styles
    2.  Typography
    3.  Page-layout
    4.  Scroll-bar
    5.  Media Queries
/////////////////////////*/

/*--------------------- 1. Global Styles ---------------------*/

:root {
    --font: Merriweather;
    --text-weight: 800;
    --second-font: 'Roboto', sans-serif;
    --second-font-line-height: 10px;

    --background-color-dark:  #150A06;
    --background-color:  #3B1C11;
    --background-color-light: #FFFFFF;
    --figure-color-1: #FF003D;
    --figure-color-2: #1AE216;
    --button-color: #FF003D;

    --focus-color: #010101;
    --shadow-color: #00000085;

    --text-logo: #CEA71E;
    --text-color-error: #F40000;
    --text: #7A7A7A;
    --text-light: #FFFFFF;
    --text-faded: #f2f0ff;
    --text-dark: #010101;
    --dropshadow: 0.2em 0.2em 0 var(--shadow-color);
    --border: 0.2em solid var(--focus-color);
    --margin: 1.5em;
    --minusTop: -7rem;
}

#root {
    display: flex;
    justify-content: center;
}

* {
    padding:0;
    /*Met de padding worden de hoogtes en breedtes van de elementen berekend en inclusief padding en borders*/
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

body a {
    color: white;
}

a,
a:visited,
a:link {
    text-decoration: none;
    color: var(--text-light);
}


/*--------------------- 2. Typography ---------------------*/

.page-title {
    font-size: 1em;
    margin: 0.1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Merriweather, 'Times New Roman', serif;
    letter-spacing: 0.02em;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.2em;
    padding: 16px 0;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2rem;
    padding: 12px 0;
}

h4::after {
    display: block;
    content: '';
    margin: 24px 0 0;
    width: 57px;
    height: 4px;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.8em;
    line-height: 1.5;
}

p {
    font-size: 0.6em;
}

strong {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

/*--------------------- 3. Page-layout ---------------------*/

.outer-content-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.inner-content-container {
    flex-shrink: 1;
    flex-grow: 0;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.outer-container__reusable {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
}

.inner-container__reusable {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 100%;
    padding: 20px 20px;
}

.default-area-padding {
    padding: 0 0 100px 0;
}

.default-text-restrictor {
    max-width: 850px;
    text-align: center;
}

.page-content {
    position: relative;
    top: var(--minusTop);
}

.highlighter {
    box-shadow: inset 0 -.7em 0 0 var(--background-color-dark);
}

.highlighter:hover {
    box-shadow: inset 0 -.7em 0 0#FAF34A
}

figcaption {
    margin-top: 0.5rem;
    font-size: 0.6rem;
}

figcaption::before {
    content: " ";
}

.bigFont {
    font-size: 8rem;
}

.image-preview {
    width: 100px;
}

/*--------------------- 5.Media-queries -----------------*/
@media only screen and (max-width: 992px) {
    body {
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
    }

    body a {
        color: black;
    }

    a,
    a:visited,
    a:link {
        text-decoration: none;
        color: var(--text-dark-mobile);
    }
}