.cannoli-image {
    display: flex;
    flex-direction: revert;
    justify-content: space-evenly;
    align-items: center;
}

.cannoli-img {
    display: flex;
    justify-content: center;
    padding: 0.2em 0.8em;
    float: left; width: 250px; height: 200px;
    border-top: 1px dotted hsl(4, 9%, 70%);
    z-index: 2;
}

.product-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.label {
    display: flex;
    flex-direction: column;
}

.input-field__reusable {
    display: flex;
    border-width: thin;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1em 0.3em;
    float: left; width: 225px; height: 20px;
    z-index: 2;
}


.select {
    width: 100%;
}

.search-result__go-up-icon {
    width: 1.5em;
    cursor: pointer;
    align-self: center;
}





/*--------------------- Media-queries -----------------*/







